/* Navbar */
.navbar-brand {
    padding: 20px;
}
.navbar .navbar-text {
    float: right;   
}

/* RPS */
#rock-paper-scissors > .row {
    margin-bottom: 15px;
}

/* RPS Score Component */
#rock-paper-scissors-score span {
    margin-right: 20px;
}
/* RPS Shape Selector Component */
#rock-paper-scissors-shape-selector .btn-group {
    margin-right: 20px;
}

/* RPS Board Component */
#rock-paper-scissors-board > div {
    border: 1px solid #efefef;
    text-align: center;
}
#rock-paper-scissors-board .shape img {
    display: inline;
}
#rock-paper-scissors-board .shape .title {
    padding: 10px 0;
}

/* Extra Small Devices, Phones => 480px */
/* tablets */
@media only screen and (max-width : 768px) {
    /* navbar */
    .navbar .navbar-header {
        float: left;
        width: auto;
    }
    .navbar .navbar-text {
        width: auto;
    }
}
