/* RPS */
#rock-paper-scissors > .row {
    margin-bottom: 15px;
}

/* RPS Score Component */
#rock-paper-scissors-score span {
    margin-right: 20px;
}
/* RPS Shape Selector Component */
#rock-paper-scissors-shape-selector .btn-group {
    margin-right: 20px;
}

/* RPS Board Component */
#rock-paper-scissors-board > div {
    height: 300px;
    border: 1px solid #efefef;
    text-align: center;
}
#rock-paper-scissors-board .shape img {
    display: inline;
}
#rock-paper-scissors-board .shape .title {
    padding: 10px 0;
}

#rock-paper-scissors-text {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
